<div class="ad mb-2">
  <div class="ad-back"></div>
  <div style="position: relative; z-index: 1;">
    <span>start</span>
    <span class="text-secondary">streaming</span>
    <span>games</span>
    <span>differently</span>
  </div>
</div>

<div class="py-1 mb-1">
  gamor is now <span class="highlight">stream party</span> platform
</div>

<div class="flex py-2 content-center" *ngIf="isAnonymous$|async">
  <a routerLink="/auth/sign-up" class="btn elevated text-body light">Create account</a>
  <a routerLink="/auth" class="btn plain">Sign in</a>
</div>